@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+SC&display=swap');

:root {
    --fg: #333;
    --bg:#f7f7ef;
    --teal: #005F5F;
}

#org-div-home-and-up {
  display: none;
}

*, ::before, ::after {
  box-sizing: border-box;
  font-family: Alegreya,Sans-serif;
  font-variant: small-caps;
  line-height: 1.8;
  letter-spacing: 0.2rem;
  font-size: 14pt;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  background-color: var(--bg);
  height: 100vh;
}

#content {
  color: var(--fg);
  text-align: center;
  margin: 0;
  padding-top: 3.5rem;
  max-width: 100vw;
}

.title { display: none; }

h2 {
  font-size: 300%;
  font-weight: normal;
  line-height: 4.5rem;
  width: 5ch;
  margin: auto;
}

h3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 200%;
  font-weight: normal;
}

.figure {
  width: 100%;
}
img {
  max-width: 100%;
  filter: grayscale(1);
  transition-duration: 1s;
}
img:hover {
  filter: grayscale(0);
}

a {
  color: var(--fg);
  text-decoration: none;
}
a:hover {
  color: grey;
}

p {
  width: 55ch;
  max-width: 90vw;
  margin: auto;
}

#table-of-contents {
  position: fixed;
  top: 0;
  left: 0;
  height: 3.5rem;
  width: 100%;
  text-align: left;
  background-color: var(--bg);
  z-index: 100;
  overflow-x: hidden;
}
#table-of-contents h2 {
  float: left;
  width: auto;
  font-size: 120%;
  line-height: 3.5rem;
  font-weight: bold;
  padding-left: 1rem;
  cursor: pointer;
}
#table-of-contents ul {
  height: 100%;
  line-height: 3.5rem;
  float: right;
}
#table-of-contents li {
  display: inline;
  padding-right: 1rem;
}
#table-of-contents a {
  font-size: 80%;
  font-weight: bold;
  text-decoration: none;
  color: var(--fg);
  cursor: pointer;
}
#table-of-contents a:hover {
  color: grey;
}